* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  /*background-image: url('clouds.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;*/
}

form {
  background: #D2D2D2;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90vw;
  margin-right: 0;
}

form button {
  width: 9.7vw;
  background: #296AD4;
  border: none;
  padding: 10px;
  font-family: 'Arial';
  color: white;
  font-size: 15px;
}

form button:focus {
  outline: none;
}

form button:hover {
  background-color: #4099ff;
  transition: 0.2s;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #F2F2F2;
}

.username {
  font-family: 'Arial';
  font-size: 15px;
  color: #296AD4;
}

.timestamp {
  font-style: italic;
  color: #D2D2D2;
  font-family: 'Arial';
  font-size: 10px;
}

.message {
  font-family: 'Arial';
  font-size: 15px;
}

.welcome-message {
  font-family: 'Arial';
  font-size: 15px;
  color: #CC99CC;
}
