extends layout

block content
  script(type="text/javascript" src="js/chat.js")

  .chat
    .chat-container
      ul#messages
      form(action="")
        input#m(autocomplete="off")
        button SEND
