* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  // background-image: url('/images/clouds.jpg');
  // background-position: 50% 0;
  // background-repeat: no-repeat;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

.container {
  border: 2px solid #4099ff;
  overflow-y: scroll;
  height: 90vh;
}

form {
  background-color: #D2D2D2;
  position: fixed;
  bottom: 0;
  width: 100%;
  
  input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: 0;
  }

  button {
    width: 9.7%;
    background-color: #296AD4;
    border: none;
    padding: 10px;
    font-family: 'Arial';
    color: white;
    font-size: 15px;
    
    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #4099ff;
      transition: 0.2s;
    }
  }  
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  li {
    padding: 5px 10px;
    
    :nth-child(odd) {
      background: #F2F2F2;
    }
  }
}

.username {
  font-family: 'Arial';
  font-size: 15px;
  color: #296AD4;
}

.timestamp {
  font-style: italic;
  color: #D2D2D2;
  font-family: 'Arial';
  font-size: 10px;
}

.message {
  font-family: 'Arial';
  font-size: 15px;
}

.welcome-message {
  font-family: 'Arial';
  font-size: 15px;
  color: #CC99CC;
}
